* {
    margin: 0;
    padding: 0;
}

.header-mobile {
    display: none;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    box-shadow: 0 0 0.3rem rgb(0 0 0 / 60%);
    position: fixed;
}

.logo-header {}

.img-reponsive {
    width: 58%;
}

.menu-list ul {
    text-align: center;
    display: flex;
}

.menu-list ul li .menu-link {
    text-decoration: none;
    padding: 10px 20px;
    line-height: 46px;
    font-weight: 450;
    font-size: 18px;
    color: #000;
}

.active {
    color: #ff5e57;
}

.menu-item {
    list-style-type: none;
    position: relative;
}

.menu-link:before {
    content: "";
    width: 0%;
    border-bottom: 2px solid;
    position: absolute;
    color: rgb(85, 73, 73);
    bottom: 0;
    left: 20px;
    transition: all 0.5s;
}

.menu-link:hover::before {
    width: 73%;
}

.body {
    height: 150vh;
}

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }
    .header-mobile {
        display: flex;
        justify-content: space-between;
        height: 70px;
    }
    .img-reponsive {
        width: 70%;
    }
    .bar-btn {
        font-size: 2rem;
    }
}