* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(70, 67, 67, 0.6);
}

.wrapper {
    overflow: hidden;
}

.content {
    margin: 1rem 100px;
    text-align: center;
    padding: 75px 0 10px
}

.content-title {
    color: #ff5e57;
    font-weight: 650;
}

.content-desc {
    font-size: 1.3rem;
    color: #2a2a2a;
    font-weight: 350;
}


/* Slider */

.slider {
    height: 1000px;
}


/* New Arrivals */

.menu-product-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product-btn {
    margin-left: 20px;
    padding: 10px 12px;
    border: 1px solid #000;
    min-width: 100px;
}

.product-img {
    width: 90%;
}

.arrivals-product {
    display: flex;
    flex-wrap: wrap;
}

.arrivals-product-item {
    width: calc(100%/4);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

.active-menu-product {
    background-color: #2a2a2a;
    color: #fff;
}

.product-name {
    font-size: 1.3rem;
    font-weight: 350;
}

.product-price {
    color: #ff5e57;
    font-style: italic;
}

.view-product-btn {
    width: 500px;
    margin: 50px auto;
}

.view-product-btn a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.view-product-btn a:hover {
    background-color: #2a2a2a;
    color: #fff;
}

.wrap-content {
    margin: 30px 0 30px;
    border-bottom: 2px solid #ccc;
}


/* Blog Entries */

.blog-list {
    display: flex;
    flex-wrap: wrap;
}

.blog-item {
    width: calc(100%/3);
    list-style: none;
    text-align: left;
    padding-left: 20px;
    margin: 15px 0 40px;
}

.blog-img {
    width: 90%;
}

.img-title {
    color: #ff5e57;
    padding: 12px 0 20px;
}

.blog-item-desc {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, .6);
}

.blog-item-title {
    font-size: 1.8rem;
    font-weight: 700;
}

.blog-item-reading {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 1.4rem;
    font-weight: 300;
    border-bottom: 1px solid #333;
    margin-bottom: 50px;
}

.blog-item-reading:hover {
    color: #ff5e57;
}


/* Feature */

.feature-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
}

.feature-img {
    width: 50%;
}

.feature-desc {
    width: 50%;
    font-size: 1.3rem;
    text-align: left;
    padding: 1rem;
    font-weight: 350;
}


/* Delivery */

.delivery-list {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    padding: 10px 0;
    background-color: #2a2a2a;
}

.delivery-item {
    list-style-type: none;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.delivery-icon {
    margin-right: 35px;
    font-size: 3.7rem;
    color: #ff5e57;
}

.delivery-icon i {
    padding-left: 10px;
}

.delivery-content {
    color: #fff8f2;
}

.delivery-content-title {
    font-size: 1.6rem;
}

.delivery-content-desc {
    font-size: 1.2rem;
}